@import url('https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap');
*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}
html{
	font-size: 10px;
	font-family: 'Montserrat', sans-serif;
	scroll-behavior: smooth;
}
a{
	text-decoration: none;
}
.container{
	min-height: 100vh;
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}
img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
.section-title{
	font-size: 4rem;
	font-weight: 400;
	color: #5ca997;
	margin-bottom: 10px;
	text-transform: uppercase;
	letter-spacing: .2rem;
	text-align: center;
}
p{
	color: black;
	font-size: 1.5rem;
	margin-top: 5px;
	line-height: 2.5rem;
	font-weight: 300px;
	letter-spacing: .05rem;
}
.brand h1{
	font-size: 3rem;
	text-transform: uppercase;
	color: white;
}
.brand h1 span{
	color: #f7a588;
}
/* Header section */
#header {
	position: fixed;
	z-index: 1000;
	left: 0;
	top: 0;
	width: 100vw;
	height: auto;
}
#header .header {
	min-height: 8vh;
	background-color: transparent;
	transition: 0.3s ease background-color;
}
#header .nav-bar {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
	height: 100%;
	max-width: 1300px;
	padding: 0 10px;
}
#header .nav-list ul {
	list-style: none;
	position: absolute;
	background-color: rgb(31, 30, 30);
	width: 100vw;
	height: 100vh;
	left: 100%;
	top: 0;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 1;
	overflow-x: hidden;
	transition: 0.5s ease left;
}
#header .nav-list ul.active {
	left: 0%;
}
#header .nav-list ul a {
	font-size: 2.5rem;
	font-weight: 500;
	letter-spacing: 0.2rem;
	text-decoration: none;
	color: white;
	text-transform: uppercase;
	padding: 20px;
	display: block;
}
#header .nav-list ul a::after {
	content: attr(data-after);
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	color: rgba(240, 248, 255, 0.021);
	font-size: 13rem;
	letter-spacing: 50px;
	z-index: -1;
	transition: 0.3s ease letter-spacing;
}
#header .nav-list ul li:hover a::after {
	transform: translate(-50%, -50%) scale(1);
	letter-spacing: initial;
}
#header .nav-list ul li:hover a {
	color: #f7a588;
}
#header .hamburger {
	height: 60px;
	width: 60px;
	display: inline-block;
	border: 3px solid white;
	border-radius: 50%;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 100;
	cursor: pointer;
	transform: scale(0.8);
	margin-right: 20px;
}
#header .hamburger::after {
	position: absolute;
	content: '';
	height: 100%;
	width: 100%;
	border-radius: 50%;
	border: 3px solid white;
}
#header .hamburger .bar {
	height: 2px;
	width: 30px;
	position: relative;
	background-color: white;
	z-index: -1;
}
#header .hamburger .bar::after,
#header .hamburger .bar::before {
	content: '';
	position: absolute;
	height: 100%;
	width: 100%;
	left: 0;
	background-color: white;
	transition: 0.3s ease;
	transition-property: top, bottom;
}
#header .hamburger .bar::after {
	top: 8px;
}
#header .hamburger .bar::before {
	bottom: 8px;
}
#header .hamburger.active .bar::before {
	bottom: 0;
}
#header .hamburger.active .bar::after {
	top: 0;
}
/* End Header section */

/* Hero Section */
#hero{
	background-image: url(./img/JLCC-Landing-Mobile.png);
	background-size: cover;
	background-position: center;
	position: relative;
	z-index: 1;
}
#hero::after{
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: transparent;
	z-index: -1;
}
#hero .hero{
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 50px;
	justify-content: flex-start;
}
#hero .container{
	flex-direction: column;
}
/* End of Hero Section */

/* About Section */
#about .about{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 20px;
}
#about .about-bottom{
	flex-direction: row;
}
#about .about-right{
	width: 250px;
}
#about .about-left{
	max-width: 800px;
}
#about .about-right{
	width: 240px;
}
#about .about-right .about-img{
	height: 100%;
	width: 100%;
	position: relative;
	background-color: white;
	border: 10px solid white;
}
#about .about-right .about-img::after{
	content: '';
	position: absolute;
	left: 33px;
	top: 19px;
	height: 98%;
	width: 98%;
	border: 8px solid #5ca997;
	z-index: -1;
}
/* End of About Section */

/* Events Section */
#events .events{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#events .events-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#events .events-item{
	flex-basis: 80%;
	display: flex;
	max-width: 450px;
	align-items: flex-start;
	justify-content: center;
	flex-direction: column;
	padding: 30px;
	border-radius: 10px;
	background-color: #5ca997;
	margin: 10px 5%;
	position: relative;
	overflow: hidden;
}
#events .events-item .events-info h1{
	color: white;
	font-size: 2rem;
	text-align: left;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#events .events-item .events-info h1:hover{
	text-decoration: underline;
}
#events .events-item .events-info h2{
	color: white;
	font-size: 1.5rem;
	text-align: left;
	margin-bottom: 10px;
	text-transform: uppercase;
}
#events .events-item .events-info p{
	color: white;
	text-align: left;
}
#events .events-item .events-info .cta{
	font-size: 2rem;
	padding: 10px 20px;
}
#events .events-item .events-img{
	flex-basis: 50%;
	overflow: hidden;
	position: relative;
	margin: -30px;
	margin-bottom: 14px;
}
#events .events-item .events-img img{
	transition: .3s ease transform;
}
#events .events-item .events-img:hover img{
	transform: scale(1.05);
}
/* End of Events Section */

/* Officers Section */
#officers .officers{
	flex-direction: column;
	text-align: center;
	max-width: 1200px;
	margin: 0 auto;
	padding: 100px 0;
}
#officers .officers-bottom{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	margin-top: 50px;
}
#officers .officers-item{
	flex-basis: 80%;
	display: flex;
	max-width: 250px;
	max-height: 425px;
	justify-content: center;
	flex-direction: column;
	padding: 20px;
	border-radius: 10px;
	background-color: lightgray;
	margin: 10px 10px;
	position: relative;
	overflow: hidden;
}
#officers .officers-item .officers-img{
	flex-basis: 50%;
	overflow: hidden;
	position: relative;
	margin: -20px;
	margin-bottom: 10px;
}
#officers .officers-item .officers-img img{
	transition: .3s ease transform;
}
#officers .officers-item .officers-img:hover img{
	transform: scale(1.05);
}
#officers .officers-item .officers-info{
	text-align: center;
}
#officers .officers-item .officers-info h1{
	color: black;
	font-size: 2rem;
	text-align: center;
	margin-bottom: 10px;
}
#officers .officers-item .officers-info h2{
	color: black;
	font-size: 1.8rem;
	text-align: center;
	margin-bottom: 10px;
}
/* End of Officers Section */

/* Media Query For Tablet */
@media only screen and (min-width: 768px) {
	.cta {
		font-size: 2.5rem;
		padding: 20px 60px;
	}
	#hero{
		background-image: url(./img/JLCC-Landing.png);
	}
}
/* End Media Query For Tablet */

/* Media Query For Desktop */
@media only screen and (min-width: 1200px) {
	/* header */
	#header .hamburger {
		display: none;
	}
	#header .nav-list ul {
		position: initial;
		display: block;
		height: auto;
		width: fit-content;
		background-color: transparent;
	}
	#header .nav-list ul li {
		display: inline-block;
	}
	#header .nav-list ul li a {
		font-size: 1.8rem;
	}
	#header .nav-list ul a:after {
		display: none;
	}
	/* End header */

	/* About */	

	/* End About */
}
/* End  Media Query For Desktop */